
.token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
  letter-spacing: 8px;
  color: #007bff;
  font-family: 'Signika Negative', sans-serif;
}

